<!DOCTYPE HTML>
<html>
<head>
    <title>Statcon</title>
    <meta http-equiv="Content-Type"; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="stapring webservice">
    <meta name="author" content="stapring">

    <!-- Bootstrap core CSS
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template
    <link href="/css/shop-homepage.css" rel="stylesheet">-->
    <!-- active navigation
   <link href="/css/activenav.css" rel="stylesheet">-->
   <!-- push-menus
   <link href="/css/pushmenus/default.css" rel="stylesheet">
   <link href="/css/pushmenus/component.css" rel="stylesheet">
-->
    <!-- CDN
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    -->
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- jquery, bootstrap js cdn-->
    <!--script src="https://code.jquery.com/jquery-3.3.1.min.js"></script-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {{>layout/sidebar}}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {{>layout/topbar}}
                <!-- Begin Page Content -->
                <div class="container-fluid">