<div class="col-lg-3">

    <h1 class="my-4">Menu</h1>
    <div class="list-group">
        <a href="/myitem" class="list-group-item">My Items</a>
        <a href="/metasem" class="list-group-item">MetaSEM Analysis</a>
        <a href="/board" class="list-group-item">Board</a>
    </div>

</div>