{{>layout/header}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Customer Board</h1>
    <p class="mb-4"> This is a free bulletin board. You can freely register your post. <a target="_blank"
                                                                   href="https://datatables.net">contect</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Board</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <a href="/posts/save" role="button" class="btn btn-primary btn-icon-split float-right">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-edit"></i>
                                        </span>
                    <span class="text">Registration</span>
                </a>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Modify date</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Modify date</th>
                    </tr>
                    </tfoot>
                    <tbody id="tbody">
                    {{#posts}}
                        <tr>
                            <td>{{id}}</td>
                            <td><a href="/posts/view/{{id}}">{{title}}</a></td>
                            <td>{{author}}</td>
                            <td>{{modifiedDate}}</td>
                        </tr>
                    {{/posts}}
                    </tbody>
                </table>
                <a href="/posts/save" role="button" class="btn btn-primary btn-icon-split float-right">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-edit"></i>
                                        </span>
                    <span class="text">Registration</span>
                </a>
            </div>
        </div>
    </div>
{{>layout/footer}}